autostart/**
Code/**
dconf/**
enchant/**
eog/**
evolution/**
flameshot/**
gedit/**
gh/**
GIMP/**
..gitignore.swp
gnome-games/**
gnome-initial-setup-done
gnome-session/**
goa-1.0/**
google-chrome/**
.gsd-keyboard.settings-ported
gtk-2.0/**
gtk-3.0/**
gtk-4.0/**
htop/**
ibus/**
libreoffice/**
menus/**
mimeapps.list
nautilus/**
neofetch/**
parcellite/**
pavucontrol.ini
pulse/**
QtProject.conf
systemd/**
totem/**
transmission/**
update-notifier/**
user-dirs.dirs
user-dirs.locale
yelp/**
vlc/vlcrc
UNIGINE/UNIGINE Superposition v1.1.conf
vlc/vlc-qt-interface.conf
Webcamoid/**
