configuration {
  font: "SF Pro Display Medium 13px";

  drun {
    display-name: "";
  }

  run {
    display-name: "";
  }

  window {
    display-name: "";
  }
  
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "/home/mukul/.config/rofi/nord.rasi"
